* {
    padding: 0;
    margin: 0;
    font-family: "Figtree", sans-serif;
    box-sizing: border-box;
}
:root {
    --yellow: #F4D04E;
    --gray-950: #111111;
    --gray-500: #6B6B6B;
    --white: #FFFFFF;
    --spacing-300: 24px;
    --spacing-150: 12px;
    --spacing-100: 8px;
    --spacing-50: 4px;
}
.text-preset-1 {
    font-weight: 800;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0;
}
.text-preset-2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0;
}
.text-preset-3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}
.text-preset-3-bold {
    font-weight: 800;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: var(--yellow);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.note {
    margin-top: var(--spacing-150);
    color: var(--gray-500);
}
.card {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: var(--gray-950);
    background-color: var(--white);
    height: 522px;
    width: 384px;
    border-radius: 20px;
    filter: drop-shadow(10px 10px 1px #000000);
}
.image {
    padding: 24px;
    border-radius: 30px;
}
.content {
    padding: 0 24px;
    margin-bottom: var(--spacing-150);
}
.learning-button {
    border: none;
    text-decoration: none;
    text-align: center;
    padding: var(--spacing-50) var(--spacing-150);
    background-color: var(--yellow);
    margin-bottom: 12px;
    border-radius: 4px;
}
.note-2 {
    color: var(--gray-950);
    margin-bottom: var(--spacing-150);
}
.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: var(--spacing-300);
    padding-top: 12px;
}
.author img {
    width: 32px;
    margin-right: 12px;
}